on:
  pull_request:
  push:
    branches:
      - master

jobs:
  static_analysis:
    runs-on: ubuntu-latest
    name: Static analysis
    steps:
      # You must check out your repository, so we can analyse it
      - name: Checkout
        uses: actions/checkout@v2
      - name: PHP Insights App
        uses: worksome/phpinsights-app@v0.1
